<div class="page-container">
  <div>
    <h1 >Welcome home <br> <%= current_user.first_name %>!
    <i class="fa-solid fa-hand-peace" style="color: #5465FF;"></i></h1>
  </div>
  <div class="flat-cards-container">
    <% @flats.each do |flat| %>
      <%= link_to flat_path(flat), style:"text-decoration: none;" do %>
        <div class="card my-4 card-flat">
          <div class="row g-0">
            <div class="col-4 container-img">
              <%= cl_image_tag flat.photos.first.key, quality: "auto", class: "image-flat" %>
            </div>
            <div class="col-8">
              <div class="card-body">
                <h5 class="card-title text-no-link"><%= flat.name %></h5>
                <% if flat.notifications.count { |n| n.read == false } > 0 %>
                    <div class="mt-3">
                      <button class="btn-pill px-3 py-1"><i class="fa-regular fa-envelope icon-pill"></i>
                      </button>
                      <button class="btn-round"><%= flat.notifications.count { |n| n.read == false } %></button>
                    </div>
                <% else %>
                    <div class="mt-3">
                      <button class="btn-pill-light px-3 py-1"><i class="fa-regular fa-envelope icon-pill"></i>
                      </button>
                    </div>
                <% end %>
                <p class="card-text p-grey mt-3"><%= flat.address %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to new_flat_path, class:"btn-sticky-big" do %>
    <i class="fa-solid fa-plus  p-3"></i>
  <% end %>
</div>
