  <% if current_user.landlord? %>
    <div class="d-flex" style="background-image: linear-gradient(rgba(84,101,255,0.7), rgba(84,101,255,0.7)), url('<%= cl_image_path @flat.photos.first.key, height: 300, crop: :fill %>')">
      <div class ="spacing-header">
        <%= link_to flats_path do %>
          <i class="fa-solid fa-arrow-left mb-5 " style="color: #FDFDFD;"></i>
        <% end %>
        <h1><%= @flat.name %></h1>
        <h6><%= @flat.address %></h6>
      </div>
      <div class="justify-content-center mt-5">
          <button class="btn-square-white" type="button">
            <i class="fa-solid fa-pen"></i>
          </button>
          <button class="btn-square-white" type="button" data-bs-toggle="modal" data-bs-target="#userModal">
            <i class="fa-solid fa-share-nodes"></i>
          </button>
      </div>
    </div>


<div class="page-container mt-3">

    <!-- User Invite Modal -->
    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" data-controller="user-search">
          <div class="modal-header">
            <h5 class="modal-title" id="userModalLabel">Invite Tenant:</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="input-group d-flex justify-content-between">
              <div class="form-outline flex-grow-1">
                <input type="search" name="searchquery" data-user-search-target="searchInput" class="form-control" data-action="keyup->user-search#search_tenant"/>
              </div>
              <button type="button" class="btn btn-primary" data-action="click->user-search#add_tenant">
                <i class="fas fa-plus"></i> Invite
              </button>
            </div>
            <div id="searchResults">

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-square-white" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



    <h2>News:</h2>
    <% if @notifications.empty?  %>
      <p>No notifications to display</p>
    <% elsif @notifications.length == 1 %>
      <div id="notifications" class="one-notification-container mb-4" data-controller="flat-notifications">
        <div class="fileInput">
          <div class="row">
            <div class="col-10">
              <p>
                <%= @notifications.first.description.first(50) %>
                <% if @notifications.first.description.length > 50 %>...<% end %>
              </p>
            </div>
            <div class="col-2">
              <div data-id="<%= @notifications.first.id %>" data-action="click->flat-notifications#read">
                <i class="fa-solid fa-x" style="color: #5465FF;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="notifications-container mb-4" data-controller="flat-notifications">
        <div class="fileList closed" id="notifications" data-flat-notifications-target="message">
          <% @notifications.first(8).each do |notification| %>
            <% unless notification.read? %>
              <div class="fileInput">
                <div class="row">
                  <div class="col-10"  data-action="click->flat-notifications#toggle">
                    <p style="color: $dark-black;">
                      <%= notification.description.first(50) %>
                      <% if notification.description.length > 50 %>...<% end %>
                    </p>
                  </div>
                  <div class="col-2">
                    <div data-id="<%= notification.id %>" data-action="click->flat-notifications#read">
                      <i class="fa-solid fa-x" style="color: #5465FF;"></i>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>


  <h2>Needs Attention: </h2>
    <div class="belonging-container">
    <% if @belongings_attention.empty? %>
      <p>Yay no to dos open! 🎉</p>
    <% else %>
      <% @belongings_attention.each do |belonging| %>
        <div class="d-flex card-belonging justify-content-between mb-3">
            <% if belonging.damaged? %>
                <div class="col-4 background-beige">
                  <%= cl_image_tag belonging.photos.first.key, class: "flex-shrink-1 image-flat-good" %>
                  <i class="fa-solid fa-hammer icon-repair" style="color: #fdfdfd;"></i>
                </div>
            <% elsif belonging.needs_replacement? %>
                <div class="col-4 background-red">
                  <%= cl_image_tag belonging.photos.first.key, class: "flex-shrink-1 image-flat-good" %>
                  <i class="fa-solid fa-exclamation icon-replacement" style="color: #fdfdfd;"></i>
                </div>
            <% end %>
              <h3 class="my-auto flex-grow-1 text-belonging">
                <%= belonging.name.first(12) %>
                <% if belonging.name.length > 12 %>...<% end %>
              </h3>
                <button class="my-auto me-3 btn-square">
                    <i class="fa-solid fa-check" style="color: #fdfdfd;"></i>
                </button>
              <button class="my-auto me-3 btn-square" type="button" data-bs-toggle="collapse" data-bs-target="#<%= belonging.todos.first.id %>" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa-solid fa-caret-down" style="color: #fdfdfd;"></i>
              </button>
        </div>
        <div class="collapse mb-3 belonging-preview" id="<%= belonging.todos.first.id %>">
            <div class="card card-body no-border">
              <h3><% if belonging.name.length > 12 %> <%= belonging.name%> <% end %> </h3>
                <% belonging.todos.each do |todo| %>
                  <% if todo.active? %>
                  <h3>Note</h3>
                    <p><%= todo.description %></p>
                  <% end %>
                <% end %>
            </div>
        </div>
      <% end %>
  <% end %>
    </div>



  <h2>All items:</h2>
  <div class="belonging-container">
    <% @belongings.each do |belonging| %>
      <div class="d-flex card-belonging justify-content-between mb-3">
        <% if belonging.good? %>
            <div class="col-4 background-blue">
              <%= cl_image_tag belonging.photos.first.key, class: "flex-shrink-1 image-flat-good" %>
              <button class="modal-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-check icon-good " style="color: #fdfdfd;"></i>
              </button>
            </div>

          <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="text-center flex-grow-1" id="exampleModalLabel">Report Issue 🛠</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                  <%= simple_form_for [@flat, belonging, @todo] do |f|%>
                    <%= f.input :belonging_status, as: :radio_buttons, collection: ['damaged', 'needs_replacement']%>
                    <div class="d-flex justify-content-center">
                      <div class="col-4 background-beige-icon">
                        <%= cl_image_tag belonging.photos.first.key, class: "flex-shrink-1 image-flat-good-icon" %>
                        <i class="fa-solid fa-hammer icon-repair" style="color: #fdfdfd;"></i>
                      </div>
                      <div class="col-4 background-red-icon">
                        <%= cl_image_tag belonging.photos.first.key, class: "flex-shrink-1 image-flat-good-icon" %>
                        <i class="fa-solid fa-exclamation icon-replacement" style="color: #fdfdfd;"></i>
                      </div>
                    </div>
                      <div>
                          <%= f.input :description %>
                          <%= f.input :photos, as: :file, input_html: { class: "mb-2 custom-input" } %>
                          <%= f.input :files, as: :file, input_html: { class: "mb-2 custom-input" } %>
                      </div>
                    </div>
                  <div class="modal-footer justify-content-center">
                      <%= f.button :submit, "Save Report", class:"btn-text" %>
                        <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% elsif belonging.damaged? %>
              <div class="col-4 background-beige">
                <%= cl_image_tag belonging.photos.first.key, class: "flex-shrink-1 image-flat-good" %>
                <i class="fa-solid fa-hammer icon-repair" style="color: #fdfdfd;"></i>
              </div>
        <% else %>
              <div class="col-4 background-red">
                <%= cl_image_tag belonging.photos.first.key, class: "flex-shrink-1 image-flat-good" %>
                <i class="fa-solid fa-exclamation icon-replacement" style="color: #fdfdfd;"></i>
              </div>
        <% end %>
            <h3 class="my-auto flex-grow-1 text-belonging"> <%= belonging.name %></h3>
            <button class="my-auto me-3 btn-square" type="button" data-bs-toggle="collapse" data-bs-target="#<%= belonging.id %>" aria-expanded="false" aria-controls="collapseExample">
              <i class="fa-solid fa-caret-down" style="color: #fdfdfd;"></i>
            </button>
      </div>
      <div class="collapse mb-3 belonging-preview" id="<%= belonging.id %>">
          <div class="card card-body no-border">
            <%= belonging.description %>
            <p>
              <% unless belonging.files.first.nil? %>
                  <%= link_to "Download", cl_private_download_url("development/#{belonging.files.first.key}", :pdf, :attachment => true) %>
              <% end %>
            </p>
              <% belonging.todos.each do |todo| %>
                <% if todo.active? %>
                  <h3>Active Todo:</h3>
                  <p><%= todo.description %></p>
                <% end %>
              <% end %>
              <%= link_to "See more", flat_belonging_path(@flat, belonging), class:"btn-text" %>
          </div>
      </div>
    <% end %>
  </div>

  <% elsif current_user.tenant? %>
    <h1><%= @flat.address %></h1>

    <h2>News:</h2>
    <div class="notifications-container">
      <% @notifications.each do |notification| %>
        <p style="color: black"><%= notification.description %></p>
      <% end %>
    </div>

    <h2>Needs Attention:</h2>
    <div class="belonging-container">
      <% @belongings.each do |belonging| %>
        <% if belonging.damaged? %>
          <p style="color: black"><%= belonging.name %> | Status: <%= belonging.status %></p>
        <% elsif belonging.needs_replacement? %>
          <p style="color: black"><%= belonging.name %> | Status: <%= belonging.status %></p>
        <% end %>
      <% end %>
    </div>


  <h2>All items:</h2>
  <div class="belonging-container">
    <% @belongings.each do |belonging| %>
      <div class="d-flex card-belonging justify-content-between">
          <% if belonging.good? %>
              <div class="col-4 background-blue">
                <%= cl_image_tag belonging.photos.first.key, class: "flex-shrink-1 image-flat-good" %>
                <i class="fa-solid fa-check icon-good " style="color: #fdfdfd;"></i>
              </div>
          <% elsif belonging.damaged? %>
              <div class="col-4 background-beige">
                <%= cl_image_tag belonging.photos.first.key, class: "flex-shrink-1 image-flat-good" %>
                <i class="fa-solid fa-hammer icon-repair" style="color: #fdfdfd;"></i>
              </div>
          <% else %>
              <div class="col-4 background-red">
                <%= cl_image_tag belonging.photos.first.key, class: "flex-shrink-1 image-flat-good" %>
                <i class="fa-solid fa-exclamation icon-replacement" style="color: #fdfdfd;"></i>
              </div>
          <% end %>
            <h5 class="my-auto flex-grow-1 text-belonging" > <%= belonging.name %></h5>
      </div>
    <% end %>
<% end %>
</div>
