<div class="page-container">
  <% if current_user.landlord? %>
    <h1><%= @flat.name %></h1>
    <h4><%= @flat.address %></h1>

    <h2>News:</h2>
    <% if @notifications.length == 1 %>
      <div class="one-notification-container">
        <div class="fileInput">
          <div class="row">
            <div class="col-10">
              <%= @notifications.first.description.first(50) %>
              <% if @notifications.first.description.length > 50 %>...<% end %>
            </div>
            <div class="col-2">
              <%= link_to notification_path(@notifications.first), data: {turbo_method: 'patch'} do %>
                <i class="fa-solid fa-x" style="color: $blue;"></i>
              <% end %>
            </div>
          </div>
      </div>
    <% else %>
      <div class="notifications-container" data-controller="flat-notifications">
        <div class="fileList closed" data-flat-notifications-target="message" data-action="click->flat-notifications#toggle">
          <% @notifications.each do |notification| %>
            <% unless notification.read? %>
              <div class="fileInput">
                <div class="row">
                  <div class="col-10">
                    <%= notification.description.first(50) %>
                    <% if notification.description.length > 50 %>...<% end %>
                  </div>
                  <div class="col-2">
                    <%= link_to notification_path(notification), data: {turbo_method: 'patch'} do %>
                      <i class="fa-solid fa-x" style="color: $blue;"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
            <%# <div class="fileInput">Some Notification</div>
            <div class="fileInput">Some notification text</div>
            <div class="fileInput">Some notification text</div>
            <div class="fileInput">Some notification text</div>
            <div class="fileInput">Some notification text</div> %>
        </div>
      </div>
    <% end %>

    <h2>Needs Attention:</h2>
    <div class="belonging-container">
      <% @belongings.each do |belonging| %>
        <% if belonging.damaged? %>
          <p style="color: black">
            <%= belonging.name %> | Status: <%= belonging.status %> |
            <% unless belonging.files.first.nil? %>
              <%= link_to "Download", cl_private_download_url(belonging.files.first.url, :pdf, :attachment => true) %>
            <% end %>
          </p>
          <ul>
            <% belonging.todos.each do |todo| %>
              <% if todo.active? %>
                <li><%= todo.description %> | Status: <%= todo.status %></li>
              <% end %>
            <% end %>
          </ul>
        <% elsif belonging.needs_replacement? %>
          <p style="color: black"><%= belonging.name %> | Status: <%= belonging.status %></p>
          <ul>
            <% belonging.todos.each do |todo| %>
              <% if todo.active? %>
                <li><%= todo.description %> | Status: <%= todo.status %></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>

    <h2>All items:</h2>
    <div class="belonging-container">
      <% @belongings.each do |belonging| %>
        <p style="color: black">
          <%= belonging.name %> | Status: <%= belonging.status %> |
          <% unless belonging.files.first.nil? %>
              <%= link_to "Download", cl_private_download_url("development/#{belonging.files.first.key}", :pdf, :attachment => true) %>
          <% end %>
        </p>
        <ul>
          <% belonging.todos.each do |todo| %>
            <% if todo.active? %>
              <li><%= todo.description %> | Status: <%= todo.status %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>


  <h2>All items:</h2>
  <div class="belonging-container">
    <% @belongings.each do |belonging| %>
      <div class="d-flex card-belonging justify-content-between">
          <% if belonging.good? %>
              <div class="col-4 background-blue">
                <%= cl_image_tag belonging.photos.first.key, class: "flex-shrink-1 image-flat-good" %>
                <i class="fa-solid fa-check icon-good " style="color: #fdfdfd;"></i>
              </div>
          <% elsif belonging.damaged? %>
              <div class="col-4 background-beige">
                <%= cl_image_tag belonging.photos.first.key, class: "flex-shrink-1 image-flat-good" %>
                <i class="fa-solid fa-hammer icon-repair" style="color: #fdfdfd;"></i>
              </div>
          <% else %>
              <div class="col-4 background-red">
                <%= cl_image_tag belonging.photos.first.key, class: "flex-shrink-1 image-flat-good" %>
                <i class="fa-solid fa-exclamation icon-replacement" style="color: #fdfdfd;"></i>
              </div>
          <% end %>
            <h5 class="my-auto flex-grow-1 text-belonging"> <%= belonging.name %></h5>
            <button class="my-auto me-3 btn-square" type="button" data-bs-toggle="collapse" data-bs-target="#<%= belonging.id %>" aria-expanded="false" aria-controls="collapseExample">
              <i class="fa-solid fa-caret-down" style="color: #fdfdfd;"></i>
            </button>
      </div>
      <div class="collapse" id="<%= belonging.id %>">
          <div class="card card-body">
            <%= belonging.description %>
            <p style="color: black">
              <% unless belonging.files.first.nil? %>
                  <%= link_to "Download", cl_private_download_url("development/#{belonging.files.first.key}", :pdf, :attachment => true) %>
              <% end %>
            </p>
          </div>
      </div>



      <ul>
        <% belonging.todos.each do |todo| %>
          <% if todo.active? %>
            <li><%= todo.description %> | Status: <%= todo.status %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>

  <% elsif current_user.tenant? %>
    <h1><%= @flat.address %></h1>

    <h2>News:</h2>
    <div class="notifications-container">
      <% @notifications.each do |notification| %>
        <p style="color: black"><%= notification.description %></p>
      <% end %>
    </div>

    <h2>Needs Attention:</h2>
    <div class="belonging-container">
      <% @belongings.each do |belonging| %>
        <% if belonging.damaged? %>
          <p style="color: black"><%= belonging.name %> | Status: <%= belonging.status %></p>
        <% elsif belonging.needs_replacement? %>
          <p style="color: black"><%= belonging.name %> | Status: <%= belonging.status %></p>
        <% end %>
      <% end %>
    </div>


  <h2>All items:</h2>
  <div class="belonging-container">
    <% @belongings.each do |belonging| %>
      <div class="d-flex card-belonging justify-content-between">
          <% if belonging.good? %>
              <div class="col-4 background-blue">
                <%= cl_image_tag belonging.photos.first.key, class: "flex-shrink-1 image-flat-good" %>
                <i class="fa-solid fa-check icon-good " style="color: #fdfdfd;"></i>
              </div>
          <% elsif belonging.damaged? %>
              <div class="col-4 background-beige">
                <%= cl_image_tag belonging.photos.first.key, class: "flex-shrink-1 image-flat-good" %>
                <i class="fa-solid fa-hammer icon-repair" style="color: #fdfdfd;"></i>
              </div>
          <% else %>
              <div class="col-4 background-red">
                <%= cl_image_tag belonging.photos.first.key, class: "flex-shrink-1 image-flat-good" %>
                <i class="fa-solid fa-exclamation icon-replacement" style="color: #fdfdfd;"></i>
              </div>
          <% end %>
            <h5 class="my-auto flex-grow-1 text-belonging" > <%= belonging.name %></h5>
      </div>
    <% end %>
<% end %>

