<%= simple_form_for [@flat, belonging], data: {controller: "dropdown"} do |f| %>
  <%= f.input :name, placeholder: 'Belonging name', input_html: { class: "mb-2 custom-input" } %>
  <hr>
  <%= f.label :category %>
  <div class="custom--form--dropdown--container">
    <input name="selected_room" type="hidden"  data-dropdown-target="inputFieldHidden">
    <div class="custom--form--field ph--12" data-dropdown-target="selectedRoom">
      <span id="room"></span>
      <span data-dropdown-target="dropdown" data-action="click->dropdown#open"><i class="fa-solid fa-chevron-left caret pointer"></i></span>
    </div>
    <div class="drop--down d-none" data-dropdown-target="dropdownList">
      <%# Generated from dropdown_controller.js %>
    </div>
  </div>
  <hr>
  <%= f.input :description, input_html: { class: "mb-2 custom-input" }%>
  <hr>
  <%= f.input :photos, as: :file, input_html: { class: "mb-2 custom-input" } %>
  <hr>
  <%= f.input :files, as: :file, input_html: { class: "mb-2 custom-input" } %>
  <%= f.submit "Save", class: "btn-text" %>
<% end %>
