<h1>New belonging</h1>
<%= simple_form_for [@flat, @belonging] do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :status %>
  <%= f.input :description %>
  <%= f.input :photos, as: :file %>
  <%= f.input :files, as: :file %>
  <%= f.submit "Add Belonging", class: "btn btn-primary" %>
<% end %>
