<%= simple_form_for [@flat, belonging] do |f| %>
  <%= f.input :name, placeholder: 'Belonging name', input_html: { class: "mb-2 custom-input" } %>
  <hr>
  <%= f.hidden_field :category_id %>
  <%= f.label :category %>
  <div class="custom--form--dropdown--container">
    <div class="custom--form--field border--radius--bottom--none ph--12">
      <span>Kitchen <i class="fa-solid fa-kitchen-set"></i></span>
      <span><i class="fa-solid fa-chevron-down caret"></i></span>
    </div>
    <div class="drop--down">
      <div class="ph--12">
        <span>Living Room <i class="fa-solid fa-couch"></i></span>
      </div>
      <div class="ph--12">
        <span>Corridor<i class="fa-solid fa-person-walking-arrow-right"></i></span>
      </div>
      <div class="ph--12">
        <span>Bathroom <i class="fa-solid fa-sink"></i></span>
      </div>
      <div class="ph--12">
        <span>Bedroom<i class="fa-solid fa-bed"></i></span>
      </div>
      <div class="ph--12">
        <span>Balkony<i class="fa-solid fa-sun-plant-wilt"></i></span>
      </div>
    </div>
    <hr>
    <%= f.input :description, input_html: { class: "mb-2 custom-input" }%>
    <hr>
    <%= f.input :photos, as: :file, input_html: { class: "mb-2 custom-input" } %>
    <hr>
    <%= f.input :files, as: :file, input_html: { class: "mb-2 custom-input" } %>
    <%= f.submit "Save", class: "btn-text" %>
  <% end %>
  <%# %>
