

<%= simple_form_for [@flat, belonging] do |f| %>
  <%= f.input :name, placeholder: 'Belonging name', input_html: { class: "mb-2 custom-input" } %>
  <hr>
  <%= f.hidden_field :category_id %>
  <%= f.label :category %>
  <div class="d-flex">
    <div class="m-3">
      <button class="button btn btn-primary m-3" type="button">
        <span>Kitchen <i class="fa-solid fa-kitchen-set" style="color: #FDFDFD"></i></span>
      </button>
      <button class="button btn btn-primary m-3" btn type="button">
        <span>Living Room <i class="fa-solid fa-couch" style="color: #FDFDFD"></i></span>
      </button>
      <button class="button btn btn-primary m-3" type="button">
        <span>Corridor<i class="fa-solid fa-person-walking-arrow-right" style="color: #FDFDFD"></i></span>
      </button>
    </div>
    <div class="m-3">
      <button class="button btn btn-primary m-3" type="button">
        <span>Bathroom <i class="fa-solid fa-sink" style="color: #FDFDFD"></i></span>
      </button>
      <button class="button btn btn-primary m-3" type="button">
        <span>Bedroom<i class="fa-solid fa-bed" style="color: #FDFDFD"></i></span>
      </button>
      <button class="button btn btn-primary m-3" type="button">
        <span>Balkony<i class="fa-solid fa-sun-plant-wilt" style="color: #FDFDFD"></i></span>
      </button>
    </div>
  </div>



  <hr>
  <%= f.input :description, input_html: { class: "mb-2 custom-input" }%>
  <hr>
  <%= f.input :photos, as: :file, input_html: { class: "mb-2 custom-input" } %>
  <hr>
  <%= f.input :files, as: :file, input_html: { class: "mb-2 custom-input" } %>
  <%= f.submit "Save", class: "btn-text" %>
<% end %>
<%# %>
