<div class="header-carousel">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <% @belonging.photos.each_with_index do |photo, index| %>
          <% if index == 0 %>
            <div class="carousel-item active ">
              <%= cl_image_tag photo.key, height: 200, width: 400, crop: :fill, class: "image-big d-block mx-auto" %>
            </div>
          <% else %>
            <div class="carousel-item">
              <%= cl_image_tag photo.key, height: 200, width: 400, crop: :fill, class: "image-big d-block mx-auto" %>
            </div>
          <% end%>
        <% end %>
      </div>
      <div class="back-edit-icons">
        <%= link_to flat_path(@belonging.flat) do %>
          <i class="fa-solid fa-arrow-left back-button" style="color: #FDFDFD;"></i>
        <% end %>
        <%= link_to edit_flat_belonging_path do %>
          <i class="fa-solid fa-pen-to-square" style="color: #FDFDFD;"></i>
        <% end %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="headline-description-belonging">
    <h3 class="headline-belonging"><%= @belonging.name.capitalize %></h3>
    <%= @belonging.category.name.capitalize %>
  </div>
  <div class="status-icon-overlap">
    <% if @belonging.good? %>
      <div class="col-3 background-blue-belonging">
        <%= cl_image_tag @belonging.photos.first.key, class: "image-status-belonging-page image-flat-good" %>
        <i class="icon-status-belonging-page-check fa-solid fa-check icon-good " style="color: #fdfdfd;"></i>
      </div>
    <% elsif @belonging.damaged? %>
      <div class="col-3 background-beige-belonging">
        <%= cl_image_tag @belonging.photos.first.key, class: "image-status-belonging-page image-flat-good" %>
        <i class="icon-status-belonging-page-hammer fa-solid fa-hammer icon-repair" style="color: #fdfdfd;"></i>
      </div>
    <% else %>
      <div class="col-3 background-red-belonging">
        <%= cl_image_tag @belonging.photos.first.key, class: "image-status-belonging-page image-flat-good" %>
        <i class="icon-status-belonging-page-exclamation fa-solid fa-exclamation icon-replacement" style="color: #fdfdfd;"></i>
      </div>
    <% end %>
  </div>
</div>

<div class="page-container">
  <p class="description"><%= @belonging.description %></p>
  <h3 class="belonging-headline">Attachments</h3>
  <% if @belonging.files.count.zero? %>
    <p>No attachments uploaded ❌</p>
    <% else %>
      <% @belonging.files.each do |file|%>
        <div class="attachment-belonging mb-2" data-bs-toggle="modal" data-bs-target="#pdfmodal" data-bs-whatever="<%= Cloudinary::Api.resource("development/#{file.key}")['secure_url'][..-4] + 'jpg' %>">
          <i class="fa-solid fa-file" style="color: #888888;"></i>
          <%= file.blob.filename %>
        </div>
    <% end %>
  <% end %>

  <div class="modal fade" id="pdfmodal" tabindex="-1" aria-labelledby="pdfmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pdfmodalLabel">Preview:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <object id="pdf-iframe" data="" style="width:100%;height:100%">
            <a href="">load pdf</a>
          </object>
        </div>
      </div>
    </div>
  </div>

  <script>
    const pdfModal = document.getElementById('pdfmodal')
    pdfModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      const button = event.relatedTarget
      // Extract info from data-bs-* attributes
      const url = button.getAttribute('data-bs-whatever')
      // If necessary, you could initiate an AJAX request here
      // and then do the updating in a callback.
      //
      // Update the modal's content.
      const object = document.getElementById("pdf-iframe")
      const link = object.querySelector('a')

      object.setAttribute("data", url)
      link.href = url
    })
  </script>


  <h3 class="belonging-headline">Active To do</h3>
  <% if @active_todos.count.zero? %>
    <p>Yay no open to do! 🎉</p>
  <% else %>
    <div class="belonging-todo-cards">
      <div class="status-icon-overlap-bottom">
        <% @active_todos do |todo| %>
          <% if @belonging.good? %>
            <div class="col-2 background-blue-belonging-bottom">
              <%= cl_image_tag @belonging.photos.first.key, class: "image-status-belonging-page image-flat-good" %>
              <i class="icon-status-belonging-page-check fa-solid fa-check icon-good" style="color: #fdfdfd;"></i>
            </div>
          <% elsif @belonging.damaged? %>
            <div class="col-2 background-beige-belonging-bottom">
              <%= cl_image_tag @belonging.photos.first.key, class: "image-status-belonging-page image-flat-good" %>
              <i class="icon-status-belonging-page-hammer fa-solid fa-hammer icon-repair" style="color: #fdfdfd;"></i>
            </div>
          <% else %>
            <div class="col-2 background-red-belonging-bottom">
              <%= cl_image_tag @belonging.photos.first.key, class: "image-status-belonging-page image-flat-good" %>
              <i class="icon-status-belonging-page-exclamation fa-solid fa-exclamation icon-replacement" style="color: #fdfdfd;"></i>
            </div>
          <% end %>
            <div class="col-10 belonging-cards-info">
              <h5 class="headline-belonging-cards-info">
                <%= @current_user.first_name %>
                <%= @current_user.last_name.first %>. reported:
                <%= todo.description.capitalize.first(35) %>
                <% if @active_todos.first.description.length > 35 %>...<% end %>
              </h5>
              <p class="reported-text">Reorted on: <%= todo.created_at.strftime('%m/%d/%Y') %></p>
            </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <h3 class="belonging-headline">History</h3>
  <% if @belonging.todos.archived.count.zero? %>
    <p>Your flat is perfectly fine ✨</p>
  <% else %>
    <% @belonging.todos.archived.each do |todo| %>
      <div class="status-icon-overlap-bottom">
        <div class="col-2 background-blue-belonging-bottom">
          <%= cl_image_tag @belonging.photos.first.key, class: "image-status-belonging-page image-flat-good" %>
          <i class="icon-status-belonging-page-check fa-solid fa-check icon-good " style="color: #fdfdfd;"></i>
        </div>
        <div class="col-10 belonging-cards-info">
          <h5 class="headline-belonging-cards-info">
            <%= @current_user.first_name %>
            <%= @current_user.last_name.first %>. reported:
            <%= todo.description.capitalize.first(35) %>
            <% if @active_todos.first.description.length > 35 %>...<% end %>
          </h5>
          <p class="reported-text-history">Reported on: <%= todo.created_at.strftime('%m/%d/%Y') %></p>
          <p class="reported-text-history">Back to fine: <%= todo.updated_at.strftime('%m/%d/%Y') %></p>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="mt-5">
    <%= link_to "» Delete belonging",
      flat_belonging_path(@belonging.flat, @belonging),
      data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
  </div>

</div>
