<!DOCTYPE html>
<html lang="en">
<head>
  <title>Houselist</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= favicon_link_tag %>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
  <%= render 'shared/ios_pwa_links' %>
</head>

<body>
<%= render "shared/flashes" %>
<div class="core-page-layout">
  <%= render "devise/shared/navbar" %>
  <div class="<%= @guest_page ? "landing-page" : 'container' %>">
    <%= yield %>
  </div>
  <%= render "devise/shared/footer" %>
</div>
</body>
</html>
