<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <title>Houselist</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
  <%= favicon_link_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
  <%= render 'shared/ios_pwa_links' %>
</head>

<body>
<%= render "shared/flashes" %>
<div class="core-page-layout" data-controller="layout">
  <%= render "devise/shared/navbar" if user_signed_in? %>
  <div class="<%= @guest_page ? "landing-page" : "user-content-page" %>" data-layout-target="body">
    <%= yield %>
    <%= render "devise/shared/footer" if user_signed_in? %>
  </div>
</div>
</body>
</html>
